.App {
  text-align: center;
}

.flag-wrapper {
  min-height: 200px;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.flag {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.population-label {
  opacity: 0.5;
  font-size: 80%;
  margin-left: 1ex;
}

.MuiAutocomplete-popper > div {
  background: rgba(255, 255, 255, 0.95);
}


.scene-container {
  width: 100% !important;
}

.scene-container canvas {
  margin: auto;
}