.App {
  text-align: center;
}

.flag-wrapper {
  min-height: 250px;
  display: flex;
  align-items: center;
  margin: 0;
}

.flag {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.population-label {
  opacity: 0.5;
  font-size: 80%;
  margin-left: 1ex;
}

.MuiAutocomplete-popper > div {
  background: rgba(255, 255, 255, 0.95);
}